[submodule "vim/bundle/vim-ragtag"]
	path = vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/commandt"]
	path = vim/bundle/commandt
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/headlights"]
	path = vim/bundle/headlights
	url = https://github.com/mbadran/headlights.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-nodejs-complete"]
	path = vim/bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/walm/jshint.vim.git
